<div class="container-fluid dashboard">
    <div class="row">
        <div class="col-lg-3 rooms">
            <div class="row">
                <div class="col-lg-2 rooms-links view-height">
                    <%= render 'layouts/dash_nav' %>
                </div>
                <div class="col-lg-10 room-channels view-height">
                    <div class="row">
                        <div class="room-title">
                            <h6 align="center"><%= @user.username %>'s room</h6>
                        </div>
                    </div>
                    <div class="row all-channels">
                        <div class="channels">
                            <p class="channel-header">TEXT CHANNELS</P>
                            <%= @rooms.first.channels.each do |channel| %>
                                <p class="channel ">#<%= channel.name %></p> 
                            <% end %>
                        </div>

                        <div class="channels">
                            <p class="channel-header">VOICE CHANNELS</P>
                            <p class="channel">#coming_soon</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 room">
            <div class="row room-settings">
                <h6>#<%= @channels.first.name %></h6>
            </div>
            <div class="row">
                <div class="col-lg-9 room-chat view-height"">
                    <h2 align="center">Welcome to the #<%= @channels.first.name %> channel in <%= @user.username %>'s room.</h2> 
                    <p align="center">This is the beginning of the channel chat history.</p>

                    <div class="messages">
                        <%# <div class="message">
                            <h6><b>Austin</b></h6>
                            <p>Test</p>
                        </div>
                        <div class="message">
                            <h6><b>Austin</b></h6>
                            <p>This is another test.</p>
                        </div>
                        <div class="message">
                            <h6><b>Teej</b></h6>
                            <p>This is a third or so test.</p>
                        </div> %>
                        <%= @messages.each do |message| %>
                            <div class="message">
                                <h6><b><%= @user.username %></b></h6>
                                <p class="channel "><%= message.content %></p> 
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="col-lg-3 room-patrons view-height"></div>
            </div>
        </div>
    </div>
</div>

